/* line 26, ../sass/_mixins.scss */
.accounts .content li {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.accounts .content li:before, .accounts .content li:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.accounts .content li:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 2, ../sass/_smallest.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/_smallest.scss */
.ui-state-disabled span {
  color: #ebebeb;
}

/* line 8, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
}
/* line 10, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 15, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 21, ../sass/_smallest.scss */
#calendarMonthly, #calendarDaily, .contain {
  display: none;
}

/* FOOTER */
/* BUTTON */
/* line 37, ../sass/_smallest.scss */
.ui-datepicker-group {
  width: 31%;
  margin: 1%;
  float: left;
}

/* line 44, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 49, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 57, ../sass/_smallest.scss */
.cf {
  *zoom: 1;
}

/* line 60, ../sass/_smallest.scss */
#page {
  max-width: 1400px;
  margin: 0 auto;
}

/* line 65, ../sass/_smallest.scss */
.span3 {
  width: 20%;
  margin-right: 1%;
}

/* line 69, ../sass/_smallest.scss */
.span9 {
  width: 79%;
}

/* line 73, ../sass/_smallest.scss */
.col3 {
  width: 23%;
}

/* line 76, ../sass/_smallest.scss */
.col4 {
  width: 31%;
  min-height: 460px;
}

/* line 81, ../sass/_smallest.scss */
.col6 {
  width: 48%;
}

/* line 85, ../sass/_smallest.scss */
.col7 {
  width: 57%;
}

/* line 88, ../sass/_smallest.scss */
.col8 {
  width: 69%;
}

/* line 92, ../sass/_smallest.scss */
.col9 {
  width: 75%;
}

/* line 96, ../sass/_smallest.scss */
div[class*="col"], div[class*="span"] {
  float: left;
}

/* line 104, ../sass/_smallest.scss */
li {
  color: #636469;
}

/* line 109, ../sass/_smallest.scss */
.accounts label {
  color: #42b4e6;
}
/* line 112, ../sass/_smallest.scss */
.accounts .content {
  padding: 1em;
}
/* line 114, ../sass/_smallest.scss */
.accounts .content li {
  margin: .5em 0;
}
/* line 116, ../sass/_smallest.scss */
.accounts .content li p {
  margin: 0;
  float: left;
}
/* line 120, ../sass/_smallest.scss */
.accounts .content li .availDates {
  float: right;
}
/* line 124, ../sass/_smallest.scss */
.accounts .content li input {
  margin: 0 1em 0 0;
}

/* line 133, ../sass/_smallest.scss */
.view .content {
  padding: 1em;
}
/* line 135, ../sass/_smallest.scss */
.view .content li {
  margin: 1em 0;
}
/* line 136, ../sass/_smallest.scss */
.view .content li p {
  margin: 0;
}
/* line 140, ../sass/_smallest.scss */
.view .content li input {
  margin: 0 1em 0 0;
}

/* line 147, ../sass/_smallest.scss */
#historicalContain {
  width: 1274px;
}
/* line 149, ../sass/_smallest.scss */
#historicalContain input, #historicalContain label, #historicalContain #ulHistComp li {
  cursor: pointer;
}
/* line 152, ../sass/_smallest.scss */
#historicalContain aside#profiles ul li.active {
  padding: 0 !important;
}

/* line 158, ../sass/_smallest.scss */
.headers p {
  float: left;
  margin: 0 0 1em;
  padding: 0;
}
/* line 162, ../sass/_smallest.scss */
.headers p:last-child {
  float: right;
}

/* line 168, ../sass/_smallest.scss */
.button {
  color: white;
  border: solid 1px #118e16;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: .5em 2em;
  font-size: 14px;
  border-radius: 8px;
  background-color: #57ab1e;
  background-image: -moz-linear-gradient(top, #5fb520, #4d9e1b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5fb520), to(#4d9e1b));
  background-image: -webkit-linear-gradient(top, #5fb520, #4d9e1b);
  background-image: -o-linear-gradient(top, #5fb520, #4d9e1b);
  background-image: linear-gradient(to bottom, #5fb520, #4d9e1b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5FB520', endColorstr='#FF4D9E1B', GradientType=0);
}

/* line 178, ../sass/_smallest.scss */
.box {
  margin: 0 20px 0 0;
  background: #fff !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 5px solid #636469;
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  float: left;
  background-image: none;
  width: 35%;
}
/* line 195, ../sass/_smallest.scss */
.box.calendarsContain {
  width: auto;
}
/* line 198, ../sass/_smallest.scss */
.box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 203, ../sass/_smallest.scss */
.box strong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
/* line 209, ../sass/_smallest.scss */
.box .title {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  z-index: 100;
}
/* line 214, ../sass/_smallest.scss */
.box .title .right {
  float: right;
  display: inline-block;
  font-size: 90%;
  line-height: 20px;
  font-style: italic;
}
/* line 221, ../sass/_smallest.scss */
.box .title p {
  margin: 0;
  float: left;
  font-size: 18px;
}

/* line 230, ../sass/_smallest.scss */
#full-year {
  padding: 2em;
}

/* line 234, ../sass/_smallest.scss */
#full-year, #calendar {
  max-height: 570px;
  overflow-y: scroll;
}

/* line 239, ../sass/_smallest.scss */
#year {
  background: #ebebeb;
  width: 100%;
  text-align: center;
  margin: 0;
}
/* line 244, ../sass/_smallest.scss */
#year p {
  display: inline-block;
  margin: 0;
  padding: .5em 0;
  font-weight: 800;
  font-size: 18px;
}

/* line 253, ../sass/_smallest.scss */
.profiles {
  background: #42b4e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  float: left;
  padding-top: 1em;
  margin: 0 1em 0 0;
}
/* line 260, ../sass/_smallest.scss */
.profiles .title {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  z-index: 10;
  background: white;
}
/* line 266, ../sass/_smallest.scss */
.profiles .title h2 {
  font-weight: 100;
  font-size: 18px;
  margin: 0;
}
/* line 272, ../sass/_smallest.scss */
.profiles ul {
  background: #ebebeb;
  text-align: left;
  padding: 1em 0;
  margin: 0;
  position: relative;
  z-index: 9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 282, ../sass/_smallest.scss */
.profiles ul li {
  width: 100%;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border-bottom: solid 1px #d5d5d5;
}
/* line 284, ../sass/_smallest.scss */
.profiles ul li.active a {
  background: #636469;
  color: white;
}
/* line 291, ../sass/_smallest.scss */
.profiles ul li.disabled:hover a {
  background: transparent;
  color: #636469;
}
/* line 301, ../sass/_smallest.scss */
.profiles ul li li {
  border-bottom: 0;
}
/* line 304, ../sass/_smallest.scss */
.profiles ul li:last-child {
  border-bottom: 0;
}
/* line 307, ../sass/_smallest.scss */
.profiles ul li a {
  padding: 3px 10px;
  display: inline-block;
  width: 100%;
}
/* line 311, ../sass/_smallest.scss */
.profiles ul li a:hover, .profiles ul li a.active {
  background: #636469;
  color: white;
}

/* line 322, ../sass/_smallest.scss */
#dateList li {
  list-style: none;
}

/* line 328, ../sass/_smallest.scss */
.dateContain {
  background: white url(./Art/en/bg-tile-blocktop-blue.gif) repeat-X top left;
  margin: 0 20px 0 0;
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  float: left;
  position: relative;
  z-index: 500;
}
/* line 344, ../sass/_smallest.scss */
.dateContain li {
  color: #636469;
  font-size: 14px;
}
/* line 349, ../sass/_smallest.scss */
.dateContain h2 {
  margin: 7px 0 0 0;
  padding: 8px 12px;
  background: #fff;
  font: normal normal 18px 'seroundedregular';
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
}
/* line 358, ../sass/_smallest.scss */
.dateContain .clear {
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
}
/* line 365, ../sass/_smallest.scss */
.dateContain ul {
  background: #ebebeb;
  text-align: left;
  padding: 1em 0;
  margin: 0;
  position: relative;
  z-index: 9;
}
/* line 373, ../sass/_smallest.scss */
.dateContain ul li {
  width: 100%;
  padding: 3px 10px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 377, ../sass/_smallest.scss */
.dateContain ul li:hover {
  background: #c8e8f5;
}
/* line 379, ../sass/_smallest.scss */
.dateContain ul li:hover .removeDate {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 383, ../sass/_smallest.scss */
.dateContain ul li .removeDate {
  color: red;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  float: right;
  cursor: pointer;
}

/* line 394, ../sass/_smallest.scss */
.profiles {
  width: 100%;
}

/* line 398, ../sass/_smallest.scss */
.ui-datepicker-title {
  text-align: center;
  padding: .5em 0;
  width: 100%;
  border: solid 1px #636469;
  border-radius: 5px;
  margin-bottom: 1em;
}

/* line 407, ../sass/_smallest.scss */
.ui-datepicker-inline {
  width: 100% !important;
}
/* line 409, ../sass/_smallest.scss */
.ui-datepicker-inline:before, .ui-datepicker-inline:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 413, ../sass/_smallest.scss */
.ui-datepicker-inline:after {
  clear: both;
}

/* line 417, ../sass/_smallest.scss */
#dateField {
  visibility: hidden;
}

/* line 421, ../sass/_smallest.scss */
.ui-datepicker-calendar {
  width: 100%;
  min-height: 240px;
}
/* line 424, ../sass/_smallest.scss */
.ui-datepicker-calendar tr {
  width: 100%;
}
/* line 428, ../sass/_smallest.scss */
.ui-datepicker-calendar th span {
  color: #42b4e6;
  margin: 6px 0;
  display: inline-block;
  font-weight: 300;
}
/* line 436, ../sass/_smallest.scss */
.ui-datepicker-calendar th, .ui-datepicker-calendar td {
  width: 14.28571%;
  text-align: center;
  border: 0;
  padding: 0;
  font-weight: 100;
}
/* line 326, ../sass/_mixins.scss */
.ui-datepicker-calendar th:nth-child(n), .ui-datepicker-calendar td:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.ui-datepicker-calendar th:nth-child(7n), .ui-datepicker-calendar td:nth-child(7n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 442, ../sass/_smallest.scss */
.ui-datepicker-calendar th a, .ui-datepicker-calendar th span, .ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
  width: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 14px;
}
/* line 449, ../sass/_smallest.scss */
.ui-datepicker-calendar th a, .ui-datepicker-calendar td a {
  color: #636469;
}
/* line 450, ../sass/_smallest.scss */
.ui-datepicker-calendar th a:visited, .ui-datepicker-calendar td a:visited {
  color: #636469;
}
/* line 456, ../sass/_smallest.scss */
.ui-datepicker-calendar .ui-state-highlight a {
  background: #c8e8f5;
}

/* line 463, ../sass/_smallest.scss */
.ui-datepicker-group {
  position: relative;
}

/* line 467, ../sass/_smallest.scss */
a[class*="ui-date"] {
  position: absolute;
  top: -70px;
}
/* line 471, ../sass/_smallest.scss */
a[class*="ui-date"] span:after {
  cursor: ponter;
}

/* line 477, ../sass/_smallest.scss */
.ui-datepicker-next {
  right: 0;
}
/* line 479, ../sass/_smallest.scss */
.ui-datepicker-next span {
  text-indent: 9000px;
}
/* line 481, ../sass/_smallest.scss */
.ui-datepicker-next span:after {
  content: url("../img/r-arrow.png");
}

/* line 487, ../sass/_smallest.scss */
.ui-datepicker-prev {
  left: 0;
}
/* line 489, ../sass/_smallest.scss */
.ui-datepicker-prev span {
  text-indent: 9000px;
}
/* line 491, ../sass/_smallest.scss */
.ui-datepicker-prev span:after {
  content: url("../img/l-arrow.png");
}

/* line 497, ../sass/_smallest.scss */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: #c8e8f5;
  color: #636469;
}

/* line 503, ../sass/_smallest.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none;
}

/* line 507, ../sass/_smallest.scss */
#calendar {
  padding: 2em;
}
/* line 509, ../sass/_smallest.scss */
#calendar .monthContain {
  width: 31.33333%;
  float: left;
  text-align: center;
  margin-bottom: 2.25em !important;
}
/* line 326, ../sass/_mixins.scss */
#calendar .monthContain:nth-child(n) {
  margin-bottom: 3%;
  margin-right: 3%;
}
/* line 330, ../sass/_mixins.scss */
#calendar .monthContain:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 515, ../sass/_smallest.scss */
#calendar .monthContain .ui-datepicker-title p {
  margin: 0;
  line-height: 1;
}
/* line 521, ../sass/_smallest.scss */
#calendar .monthContain ul li {
  width: 25%;
  text-align: center;
  float: left;
  color: #636469;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 326, ../sass/_mixins.scss */
#calendar .monthContain ul li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
#calendar .monthContain ul li:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 529, ../sass/_smallest.scss */
#calendar .monthContain ul li a, #calendar .monthContain ul li span {
  display: inline-block;
  padding: 10px;
  width: 100%;
  color: #636469;
  font-size: 14px;
}
/* line 535, ../sass/_smallest.scss */
#calendar .monthContain ul li a:active, #calendar .monthContain ul li a:focus, #calendar .monthContain ul li a:hover, #calendar .monthContain ul li span:active, #calendar .monthContain ul li span:focus, #calendar .monthContain ul li span:hover {
  outline: 0;
  color: #636469;
}
/* line 540, ../sass/_smallest.scss */
#calendar .monthContain ul li a.active, #calendar .monthContain ul li span.active {
  background: #c8e8f5;
}

/* line 552, ../sass/_smallest.scss */
.disabled span {
  color: #ebebeb !important;
}

/* line 557, ../sass/_smallest.scss */
a[class*='ui-datepicker'], .profiles li {
  cursor: pointer;
}
/* line 559, ../sass/_smallest.scss */
a[class*='ui-datepicker'].disabled, .profiles li.disabled {
  cursor: auto;
}

/* line 567, ../sass/_smallest.scss */
.row-fluid {
  width: 100%;
  *zoom: 1;
}

/* line 573, ../sass/_smallest.scss */
.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 579, ../sass/_smallest.scss */
.row-fluid:after {
  clear: both;
}
