
* {
  box-sizing:border-box;
}
.ui-state-disabled span {
color:#ebebeb}

.wrap {
  max-width: 940px;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}

#calendarMonthly, , #calendarDaily, .contain{
  display: none;
}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.ui-datepicker-group{
  width:31%;
  margin:1%;
  float:left;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}
#page {
  max-width:1400px;
  margin:0 auto;
}

.span3 {
  width:20%;
  margin-right: 1%;
}
.span9 {
  width:79%;
}

.col3 {
  width:23%;
}
.col4 {
  width:31%;
  min-height: 460px;
  
}
.col6 {
  width:48%;
}

.col7 {
  width: 57%;
}
.col8 {
  width: 69%;
}

.col9 {
  width: 75%;
}

div[class*="col"], div[class*="span"]{
  float:left;
}

div[class*="col"]{
}


li {
  color:#636469;
}

.accounts {
  label {
    color:#42b4e6;
  }
  .content {
    padding:1em;
    li {
      @extend %clearfix;
      p {
        margin: 0;
        float: left;
      }
      .availDates {
        float:right;
      }
      margin:.5em 0;
      input {
        margin:0 1em 0 0;
      }
    }
  }
}

.view {

  .content {
    padding:1em;
    li {
      p {
        margin: 0;
      }
      margin:1em 0;
      input {
        margin:0 1em 0 0;
      }
    }
  }
}

#historicalContain {
  width:1274px;
  input, label, #ulHistComp li {
    cursor:pointer;
  }
  aside#profiles ul li.active {
    padding:0 !important;
  }
}

.headers {
  p {
    float:left;
  margin: 0 0 1em;
  padding: 0;
    &:last-child {
      float:right;
    }
  }
}

.button {
  color:white;
  border:solid 1px #118e16;
  box-shadow:0 0 10px rgba(black, .4);
  padding:.5em 2em;
  font-size: 14px;
  border-radius:8px;
  @include vertical-gradient;
}

.box {
    margin: 0 20px 0 0;
  background: #fff !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 5px solid #636469;
  -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  overflow: hidden;
  float: left;
  background-image: none;
  width:35%;
  &.calendarsContain {
    width:auto;
  }
  ul {
    padding:0;
    margin: 0;
    list-style: none;
  }
  strong {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10pt;
  }
  
  
  .title {
    box-shadow:0 2px 2px rgba(0,0,0,.3);
    padding:10px;
    position: relative;
    z-index:100;
    .right {
      float: right;
      display: inline-block;
      font-size: 90%;
      line-height: 20px;
      font-style: italic;
    }
    p {
      margin: 0;
      float: left;
      font-size: 18px;

    }
  }
}

#full-year {
  padding:2em;
}

#full-year, #calendar {
  max-height:570px;
  overflow-y:scroll;
}

#year {
  background: #ebebeb;
  width:100%;
  text-align: center;
  margin: 0;
  p {
    display: inline-block;
    margin: 0;
    padding:.5em 0;
    font-weight: 800;
    font-size: 18px;
  }
}

.profiles {
  background: $secondary;
  border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,.5);
  float:left;
  padding-top:1em;
  margin: 0 1em 0 0;
  .title {
    box-shadow:0 2px 2px rgba(0,0,0,.3);
    padding:10px;
    position: relative;
    z-index:10;
    background: white;
    h2 {
      font-weight: 100;
      font-size: 18px;
      margin: 0;
    }
  }
  ul {
    background: #ebebeb;
    text-align: left;
    padding:1em 0;
    margin: 0;
    position: relative;
    z-index:9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    li {
      &.active {
        a {
          background: $dark;
          color:white;
        }
      }
      &.disabled {
        &:hover {
          a {
            background: transparent;
            color:$primary;
          }
        }
      }
      width:100%;
      
      @include transition(.3s all);
      border-bottom: solid 1px #d5d5d5;
      li {
        border-bottom: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding:3px 10px;
        display: inline-block;
        width:100%;
      &:hover, &.active {
        background: $dark;
        color:white;
        
      }
    }
    }
  }
}

#dateList {
  li {
    list-style: none;
  }
  
}

.dateContain {
    background: #fff url(./Art/en/bg-tile-blocktop-blue.gif) repeat-X top left;
  margin: 0 20px 0 0;
  -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  float: left;
  position: relative;
  z-index: 500;
  li {
    color:#636469;
    font-size: 14px;
  }
  
    h2 {
      margin: 7px 0 0 0;
  padding: 8px 12px;
  background: #fff;
  font: normal normal 18px 'seroundedregular';
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
  }
  
  .clear {
    background: white;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;

    padding:10px;
  }
  ul {
    background: #ebebeb;
    text-align: left;
    padding:1em 0;
    margin: 0;
    position: relative;
    z-index:9;

    li {
      width:100%;
      padding:3px 10px;
      @include transition(.3s all);
      &:hover {
        background: $hover;
        .removeDate {
          @include opacity(1);
        }
      }
      .removeDate {
        color:red;
        @include opacity(0);
        @include transition(.3s all);
        float:right;
        cursor:pointer;
      }
    }
  }
}

.profiles {
  width:100%;
}

.ui-datepicker-title {
  text-align: center;
  padding:.5em 0;
  width:100%;
  border:solid 1px $primary;
  border-radius:5px;
  margin-bottom: 1em;
}

.ui-datepicker-inline {
  width:100% !important;
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
#dateField {
  visibility:hidden;
}

.ui-datepicker-calendar {
  width:100%;
  min-height: 240px;
  tr {
    width:100%;
  }
  th {
    span {
      color:$secondary;
      margin: 6px 0;
      display: inline-block;
      font-weight: 300;

    }
  }
  th, td {
    @include rowGrid(7, 0);
    text-align: center;
    border:0;
    padding:0;
    font-weight: 100;
    a, span {
      width:100%;
      display: inline-block;
      padding:5px;
      font-size: 14px;
      
      }
      a {color:$primary;
       &:visited {
          color:$primary;
        } 
      }
    }
    .ui-state-highlight {
      a {
        background:$hover;

    }
  }
}

.ui-datepicker-group {
  position: relative;
}

a[class*="ui-date"] {
  position: absolute;
  top:-70px;
  span {
    &:after {
      cursor:ponter;
    }
  }
}

.ui-datepicker-next {
  right:0;
  span {
    text-indent:9000px;
    &:after{
      content:url('../img/r-arrow.png');
    }
  }
}

.ui-datepicker-prev {
  left:0;
  span {
    text-indent:9000px;
    &:after{
      content:url('../img/l-arrow.png');
    }
  }
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: $hover;
  color:$primary;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none;
}

#calendar {
  padding:2em;
  .monthContain {
    @include rowGrid(3,3%);
    float:left;
    text-align: center;
    margin-bottom: 2.25em !important;
    .ui-datepicker-title {
      p {
        margin: 0;
        line-height: 1;
      }
    }
    ul {
      li {
        @include rowGrid(4,0);
        text-align: center;
        float:left;
        color:$primary;
        text-transform: uppercase;
        font-weight: 100;
        
        a, span {
          display: inline-block;
          padding:10px;
          width:100%;
          color: #636469;
          font-size: 14px;
          &:active, &:focus, &:hover {
            outline:0;
          color: #636469;

          }
          &.active {
            background: $hover;

          }
        }
      }
    }
  }
}


.disabled {
  span {
  color:#ebebeb !important
  }
}

a[class*='ui-datepicker'], .profiles li {
  cursor:pointer;
  &.disabled {
    cursor:auto;
  }
}




.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}
