// COLOR PALETTE
$primary: #636469;
$secondary: #42b4e6;
$hover: #c8e8f5;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$dark: #636469;

// FONT STACKS
$heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
