* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}
body {
  padding:5em;
  background: #d5d5d5;
}
/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.ui-datepicker-group{
  width:31%;
  margin:1%;
  float:left;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.col3 {
  width:20%;
}
.col6 {
  width:56%;
  margin:0 2%;
}

div[class*="col"]{
  float:left;
}

.button {
  color:white;
  border:solid 1px #118e16;
  box-shadow:0 0 10px rgba(black, .4);
  padding:.5em 2em;
  font-size: 14px;
  border-radius:8px;
  @include vertical-gradient;
}

.box {
  float:left;
  box-shadow:0 0 10px rgba(0,0,0,.5);
  background: white;
  border:solid 5px #616469;
  border-radius:8px;
  max-height:700px;
  overflow:scroll;
  
  .title {
    box-shadow:0 2px 2px rgba(0,0,0,.3);
    padding:10px;
    position: relative;
    z-index:100;
    .right {
    float: right;
    display: inline-block;
    font-size: 90%;
    line-height: 20px;
  }
    p {
      margin: 0;
      float: left;
      font-size: 18px;

    }
  }
}

#full-year {
  padding:2em;
}

#year {
  background: #ebebeb;
  width:100%;
  text-align: center;
  margin: 0;
  p {
    display: inline-block;
    margin: 0;
    padding:.5em 0;
    font-weight: 800;
    font-size: 18px;
  }
}

.dateContain {
  background: $secondary;
  border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,.5);
  float:left;
  padding-top:1em;
  li {
    color:#636469;
    font-size: 14px;
  }
  .title {
    box-shadow:0 2px 2px rgba(0,0,0,.3);
    padding:10px;
    position: relative;
    z-index:10;
    background: white;
    h2 {
      font-weight: 100;
      font-size: 18px;
      margin: 0;
    }
  }
  .clear {
    background: white;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;

    padding:10px;
  }
  ul {
    background: #ebebeb;
    text-align: left;
  padding:1em 0;
  margin: 0;
  position: relative;
  z-index:9;

    li {
      width:100%;
      padding:3px 10px;
      @include transition(.3s all);
      &:hover {
        background: $hover;
        a {
          @include opacity(1);
        }
      }
      a {
        color:red;
        @include opacity(0);
        @include transition(.3s all);
        float:right;
      }
    }
  }
}

.ui-datepicker-title {
  text-align: center;
  padding:.5em 0;
  width:100%;
  border:solid 1px $primary;
  border-radius:5px;
}

.ui-datepicker-inline {
  width:100% !important;
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
#dateField {
  visibility:hidden;
}

.ui-datepicker-calendar {
  width:100%;
  min-height: 240px;
  tr {
    display: inline-block;
    width:100%;
  }
  th {
    span {
      color:$secondary;
      margin: 6px 0;
  display: inline-block;
  font-weight: 300;

    }
  }
  th, td {
    @include rowGrid(7, 0);
    display: inline-block;
    text-align: center;
    border:0;
    padding:0;
    font-weight: 100;
    a {
      width:100%;
      display: inline-block;
      padding:5px;
    }
    .ui-state-highlight {
      a {
        background:$hover;
      }
    }
  }
}

.ui-datepicker-group {
  position: relative;
}

a[class*="ui-date"] {
  position: absolute;
  top:-70px;
  span {
    &:after {
    cursor:ponter;
  }
  }
}

.ui-datepicker-next {
  right:0;
  span {
    text-indent:9000px;
    &:after{
      content:url('../img/r-arrow.png');
    }
  }
}

.ui-datepicker-prev {
  left:0;
  span {
    text-indent:9000px;
    &:after{
      content:url('../img/l-arrow.png');
    }
  }
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: $hover;
  color:$primary;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none;
}